<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quae magni porro sint optio incidunt, assumenda velit ea eos sequi!
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <img src="./Images/line.svg" class="icon icon--primary quote__line" alt="">
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__company">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>