<section class="block">
    <header class="block__header">
        <h2>What Our Customers are Saying</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, nisi.</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img src="./large-images/testimonial.jpg" alt="A happy, smiling customer">
                    <span class="icon-container icon-container--accent">
                      <img src="./Images/quote.svg " class="icon icon--primary" alt="">
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quote__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                <img src="./Images/line.svg" class="icon icon--primary quote__line" alt="">
                            </div>
                            <div class="media__body">
                                <h3 class="media__title quote__author">John Smith</h3>
                                <p class="quote__company">ABC Company</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>